.app-container{
  display: grid;
  grid-template-columns: 15% auto;
  grid-template-rows: 15% auto;
  grid-template-areas: 
  "sidebar header"
  "sidebar main";
  align-items: stretch;
  justify-items: stretch;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}


.sidebar {
  grid-area: sidebar;
  padding-left: 10px;
  background-color: antiquewhite;
}

.search-bar{
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cadetblue;
}

.grid-container {
  grid-area: main;
  background-color: honeydew;
}


.product{
  display: flex;
  padding-left: 10px;
  border-bottom: 1px solid lightblue;
  border-top: 1px solid lightblue;
  justify-content: space-around;
}

.thead-container{
  border-bottom: 2px solid green;
  background-color: hotpink;
}

.custom-table thead th{
   position: sticky;
   top: 0px;
}

.tbody-container{
    line-height: 2;
    border: 2px solid;
    font-weight: 500;
    margin: 20px;
}

.custom-table{
  overflow-y: scroll; 
  height: 100px;
}

.productDiv{
  height: 200px;
  overflow-y: scroll;
  background-color: snow;
}

.bold {
  font-weight: bold;
}

.apply{
  margin-top: 4px;
}

input[type="number"] {
  width: 92%;
} 

.reset{
  margin-left: 20px;
  width: 100px;
  background-color: white;
  border: 2px solid hotpink;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
}

.col-item{
  width: 25%;
}

input[type="text"], input[type="number"]{
  border-radius: 11px;
  padding: 6px 0px 6px 10px;
  border: 1px solid black;
  outline: none;
}

input[type="number"]{
  font-family: sans-serif;
  font: caption;
} 

input[type="button"] {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px 20px;
    background-color: white;
    border: 1px solid #2d6898;
    border-radius: 11px;
    font-size: inherit;
    outline: none;
}

input[type="button"]:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.search {
  margin-left: 20px;
  height: 36px;
}

.search-box{
  width: 40%;
  height: 22px;
  font-family: 'Source Sans Pro';
  font-size: larger;
}

.search-container {
  width: 60%;
  text-align: center;
}